/* Favourites screen */



.fav {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #212322;
    margin: 5vh auto 3vh auto;
}

.button {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    padding: 7px;
    margin: 2vh 10vw 1vh;
    background-color: #F9F8F3;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #c9c9c9;
    text-decoration: none;
    width: 40vw;
    opacity: 1;
    justify-content: space-around;
}

.btn-group {
    margin: 0 10vw 0 0;
}

.filter {
    background-color: #F9F8F3;
    border: none;
    font-family: "Century Gothic";
    font-size: 19px;
    float: right;
    margin: 22px 0;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.street {
    font-family: 'Century Gothic';
    font-size: 17px;

}

.place {
    font-size: 28px;
    width: 45vw;
}

.fav_text {
    display: flex;
    flex-direction: column;
    margin: auto 15vw;
    padding: 0 5vw;
    border-left: 10px solid #FBBE4B;
}

.fav_text1 {
    display: flex;
    flex-direction: column;
    margin: auto 17vw;
    padding: 0 5vw;
    border-left: 10px solid #27D07D;
}

.fav_text2 {
    display: flex;
    flex-direction: column;
    margin: auto 17vw;
    padding: 0 5vw;
    border-left: 10px solid #FF5959;
}

.fav_img {
    height: 4vh;
    margin: auto 0;
}

ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 2vh 10vw;
}

li {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
    width: 100%;
    font-family: "Josefin Sans";
    height: 10vh;
    padding: 7px 0;
}

li::-webkit-scrollbar {
    display: none;
}

li>* {
    scroll-snap-align: start;
}

li button {
    border: none;
    color: white;
}

li button:first-of-type {
    flex: 1 0 30%;
    background-color: #DEDDD9;
    margin: 0 0 0 11vw;
}

li span {
    flex: 2 0 100%;
    padding: 0.5rem;
}

li button:last-of-type {
    flex: 1 0 30%;
    background-color: #FF5959;
}