/* Favourites screen */



.fav {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #212322;
    margin: 5vh auto 3vh auto;
}

.button {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    padding: 7px;
    margin: 2vh 10vw 1vh;
    background-color: #F9F8F3;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #c9c9c9;
    text-decoration: none;
    width: 40vw;
    opacity: 1;
    justify-content: space-around;
}

.btn-group {
    margin: 0 10vw 0 0;
}

.filter {
    background-color: #F9F8F3;
    border: none;
    font-family: "Century Gothic";
    font-size: 19px;
    float: right;
    margin: 22px 0;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.places {
    width: 280px;
    font-family: "Josefin Sans";
    height: 7vh;
    padding: 7px;
    margin: 0 10vw 0 4vw;
}



.street {
    font-family: 'Century Gothic';
}

.yellow {
    margin: 2vh 10vw 2vh;
    width: 10px;
    background-color: #FBBE4B;
}

.red {
    margin: 2vh 10vw 2vh;
    width: 10px;
    background-color: #ff5959;
}

.green {
    margin: 2vh 10vw 2vh;
    width: 10px;
    background-color: #27D07D;
}

/* Swipe functionality */

.ui-listview>li {
    display: table;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ui-listview>li>a.ui-btn {
    overflow: initial;
    margin-right: 0;
    -webkit-transition: -webkit-transform 400ms ease-out;
    -moz-transition: -moz-transform 400ms ease-out;
    -o-transition: -o-transform 400ms ease-out;
    transition: transform 400ms ease-out;
}

.ui-listview>li span {
    z-index: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 43px;
    width: 0;
    float: right;
    display: table-cell;
    -webkit-transition: width 380ms ease-out;
    -moz-transition: width 380ms ease-out;
    -o-transition: width 380ms ease-out;
    transition: width 380ms ease-out;
}

.ui-listview>li span.show {
    width: 70px;
    cursor: pointer;
}

.ui-listview>li p.btn {
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    text-shadow: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    text-overflow: clip;
}

.ui-listview>li span.delete {
    background-color: #FF3B30;
}

.ui-listview>li span.flag {
    background-color: #FF9500;
}

.ui-listview>li span.more {
    background-color: #D6CEC3;
}

.ui-listview>li .ui-btn span.flagged {
    padding: 0;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 35px auto auto;
    background-image: url(http://discovercoronadwp.com/img/yellowflag.png);
    background-repeat: no-repeat;
    background-size: cover;
}