/* Favourites screen */



.fav {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #212322;
    margin: 5vh auto 3vh auto;
}

.button {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    padding: 7px;
    margin: 2vh 10vw 1vh;
    background-color: #F9F8F3;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #c9c9c9;
    text-decoration: none;
    width: 40vw;
    opacity: 1;
    justify-content: space-around;
}

.btn-group {
    margin: 0 10vw 0 0;
}

.filter {
    background-color: #F9F8F3;
    border: none;
    font-family: "Century Gothic";
    font-size: 19px;
    float: right;
    margin: 22px 0;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.places {
    width: 280px;
    font-family: "Josefin Sans";
    height: 7vh;
    padding: 7px;
    margin: 0 10vw 0 4vw;
}



.street {
    font-family: 'Century Gothic';
}

.yellow {
    margin: 2vh 10vw 2vh;
    width: 10px;
    background-color: #FBBE4B;
}

.red {
    margin: 2vh 10vw 2vh;
    width: 10px;
    background-color: #ff5959;
}

.green {
    margin: 2vh 10vw 2vh;
    width: 10px;
    background-color: #27D07D;
}

.swipeout-content.item-content {
background-color: none;

}
