/* Favourites screen */



.fav {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #212322;
    margin: 5vh auto 4vh auto
}

.btn-group .button {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    padding: 7px;
    background-color: #F9F8F3;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #c9c9c9;
    text-decoration: none;
    width: 40vw;
    opacity: 1;
    justify-content: space-around;
}

.btn-group {
    margin: 0 10vw;
}

.filter {
    background-color: #F9F8F3;
    border: none;
    font-family: "Century Gothic";
    font-size: 19px;
    float: right;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 10px;
}

.btn-group .button:hover {
    opacity: 0.8;
    background-color: #bbbaba;
    color: rgb(255, 255, 255);
}

.places {
    width: 200px;
    font-family: "Josefin Sans";
}

.place {
    margin-left: 20px;
}

.street {
    margin-left: 20px;
    font-family: 'Century Gothic';
}

.yellow {
    margin: 2vh 5vh 2vh;
    width: 10px;
    background-color: yellow;
}

.red {
    margin: 2vh 5vh 2vh;
    width: 10px;
    background-color: rgb(255, 17, 0);
}

.green {
    margin: 2vh 5vh 2vh;
    width: 10px;
    background-color: rgb(0, 196, 33);
}

.supermarket-button {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    padding: 7px;
    background-color: #F9F8F3;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #c9c9c9;
    text-decoration: none;
    width: 40vw;
    opacity: 1;
    justify-content: space-around;
    margin: 0 10vw;

}

.supermarket-button:hover {
    opacity: 0.8;
    background-color: #bbbaba;
    color: rgb(255, 255, 255);
}