/*Tabbar */
.tabbar {
    background-color: ##F9F8F3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.tabbar a {
    display: inline-block;
    color: ##212322;
    text-decoration: none;
}