*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

/* Tabbar */
.tabbar {
    background-color: #F9F8F3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    text-align: center;
    vertical-align: middle;
    height: 18vh;
    box-shadow: 0 -8px 10px -6px #D0D0D0;
}

.tabbar a {
    color: #212322;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Century Gothic', sans-serif;
}

.tabs {
    width: 18vw;
    margin: auto;
}

.tabbar_img {
    width: 65%;
}

/* Splice screen - source: https://www.youtube.com/watch?v=xuA83OYTE7I&ab_channel=dcode */

.splice {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.splice.hidden {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}

.splice img {
    width: 75%;
}

@keyframes fadeOut {
    0% {
        background: #FF5959;
        opacity: 100;
    }

    25% {
        background: #FBBE4B;
        opacity: 100;
    }

    75% {
        background: #27D07D;
        opacity: 100;
    }

    90% {
        background: #27D07D;
        opacity: 0;
    }

    100% {
        opacity: 0;
        visability: hidden;
        z-index: 99;
    }
}

<<<<<<< HEAD






/*home screen - place details*/

/*colorful container*/
.place-details-on-map {
    width: 100vw;
    height: 40vh;
    background: #ff5959;
    filter: drop-shadow(0px -1px 10px rgba(0, 0, 0, 0.16));
    border-radius: 15% 15% 0 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 18vh;
    z-index: 90;
}

.icon-bottom-container {
    background-color: #ff5959;
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    top: -60px;
    left: calc(50vw - 60px);
    z-index: 91;

}

.icon-top-container {
    background-color: #f9f8f3;
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    z-index: 91;

}



.title-white {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: #f9f8f3;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
    margin: 15vh auto 1vh auto;

}

.subtitle-white {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    color: #f9f8f3;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
    margin: 1vh auto;


}

.subtitle-bold-white {
    width: 212px;
    height: 34px;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #f9f8f3;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
    margin: 2vh auto 3vh auto;

}

.arrow-position {
    margin: 3vh auto 3vh auto;
}

.arrow-up {
    width: 10vw;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.16));


}

/*full screen details*/
.place-details {
    display: flex;
    position: absolute;
    flex-direction: column;
    /*top: 88vh;*/
    top: 0;
    z-index: 95;
    width: 100vw;
    height: 82vh;
    background-color: #f9f8f3;
    padding-top: 10vh;

}

.green-bar {
    width: 100vw;
    height: 10vh;
    background: #27d07d;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

}

.green-bar a {
    display: flex;
    justify-self: flex-start;
    margin: 3.5vh auto 3.5vh 2vh;

}

.arrow-back {
    height: 3vh;
    transform: rotate(-90deg);

}

.bar-logo {
    font-family: "Freestyle Script";
    font-weight: normal;
    font-size: 5vh;
    width: 100vw;
    text-align: center;
    color: #f9f8f3;
    margin: auto;
    position: absolute;
    top: 2.5vh;


}

.title-details {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #212322;
    margin: 5vh auto 2vh auto;


}

.subtitle-details {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    color: #212322;
    margin: 2vh auto;

}

.should-i-go {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    color: #212322;
    margin: 3vh auto 2vh 3vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ...
}
=======
>>>>>>> 1af7731580715b9d5039f6554423acc18a2c4c87

/* Page styling */
.page {
    display: none;
    animation: fadeIn 0.4s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}